	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger" hidden>
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

 

						<ul data-submenu-title="Organize and Manage">
     
                                                        <li><a href="/dashboard"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>

							<li><a href="/userlist/1"><i class="icon-feather-users"></i> User List </a></li>

                                                        <li><a href="/userwallet/1"><i class="icon-material-outline-account-balance-wallet"></i> Wallet </a></li>

							<li><a href="/addpin"><i class="icon-line-awesome-map-pin"></i> Add Pin  </a></li>

						<li><a href="/phrh/1"><i class="icon-feather-image"></i> Add Provider receiver</a></li>

                                                  <!--	<li><a href="/ph_link/1"><i class="icon-feather-image"></i> Add Provider Link</a></li>

							<li><a href="/rh_link/1"><i class="icon-material-outline-loyalty"></i> Add Receiver Link</a></li>-->

							<li><a href="/blocklist/1"><i class="icon-material-outline-lock"></i> Block</a></li>
	              
                                                        <li><a href="/pbp/1"><i class="icon-line-awesome-map-pin"></i> Pre-Booking Pin</a></li>
 
                                                        <li><a href="/shareData"><i class="icon-feather-share-2"></i> Share Admin Data</a></li>

                                                        <li><a href="/rcl"><i class="icon-feather-send"></i> Release Contact List</a></li>
        					</ul>

						<ul data-submenu-title="History"> 
    
                                                        <li><a href="/amountaddhistory/1"><i class="icon-material-outline-history"></i> Add Amount History </a></li>

						<!--	<li><a href="/phhistory/1"><i class="icon-material-outline-history"></i> PH History </a></li>-->

							<li><a href="/rhhistory/1"><i class="icon-material-outline-history"></i> PH-RH History  </a></li>
                        
                                                        <li><a href="/moneyTrHistory/1"><i class="icon-material-outline-history"></i> Money Transfer History</a></li>

							<li><a href="/addpinhistory/1"><i class="icon-material-outline-history"></i> Add Pin History</a></li>

							<li><a href="/cAmountHistory/1"><i class="icon-material-outline-history"></i> confirm Amount History</a></li>

							<li><a href="/purchasePinHistory/1"><i class="icon-material-outline-history"></i> Purchase Pin History</a></li>
						</ul>

						<ul data-submenu-title="Account">
							<li><a href="<%=BaseUrl%>/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->
