<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
				</div>

				<style>
					.non-display{
						display: none;
						visibility: hidden;
					}

					@media (max-width: 1000px) {
						.non-display{
							display: block;
							visibility: visible;
						}
					}
				</style>

				<!-- Main Navigation -->
				<nav id="navigation" class="non-display">
					<ul id="responsive">
						<li><a href="/userlist/1"><i class="icon-feather-users"></i> &nbsp;&nbsp;&nbsp;User List </a></li>
 
                                                <li><a href="/userwallet/1"><i class="icon-material-outline-account-balance-wallet"></i> &nbsp;&nbsp;&nbsp;Wallet </a></li>

						<li><a href="<%=BaseUrl%>/dashboard"><i class="icon-material-outline-dashboard"></i> &nbsp;&nbsp;&nbsp;dashboard</a></li> 

						<li><a href="/addpin"><i class="icon-feather-users"></i> &nbsp;&nbsp;&nbsp;Add Pin  </a></li>

						<!--<li><a href="<%=BaseUrl%>/ph_link/1"><i class="icon-feather-image"></i> &nbsp;&nbsp;&nbsp;Add Provider Link</a></li>

						<li><a href="<%=BaseUrl%>/rh_link/1"><i class="icon-material-outline-loyalty"></i> &nbsp;&nbsp;&nbsp;Add Receiver Link</a></li>-->

                                                <li><a href="/phrh/1"><i class="icon-feather-image"></i>&nbsp;&nbsp;&nbsp; Add Provider receiver</a></li>

						<li><a href="/blocklist/1"><i class="icon-material-outline-lock"></i> &nbsp;&nbsp;&nbsp;Block</a></li>

                                                    <li><a href="/pbp/1"><i class="icon-line-awesome-map-pin"></i> &nbsp;&nbsp;&nbsp;Pre-Booking Pin</a></li>

                                                <li><a href="/shareData"><i class="icon-feather-share-2"></i> &nbsp;&nbsp;&nbsp;Share Admin Data</a></li>

                                                  <li><a href="/rcl"><i class="icon-feather-send"></i>&nbsp;&nbsp;&nbsp; Release Contact List</a></li>

						        <li><a href="/amountaddhistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;Add Amount History </a></li>
    
                                                     <!--   <li><a href="/phhistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;PH History </a></li>-->

							<li><a href="/rhhistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;PH-RH History  </a></li>

                                                        <li><a href="/moneyTrHistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;Money Transfer History</a></li>

							<li><a href="/addpinhistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;Add Pin History</a></li>

							<li><a href="/cAmountHistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;confirm Amount History</a></li>

							<li><a href="/purchasePinHistory/1"><i class="icon-material-outline-history"></i> &nbsp;&nbsp;&nbsp;Purchase Pin History</a></li>
					
                                                        <li><a href="/logout"><i class="icon-material-outline-power-settings-new"></i> &nbsp;&nbsp;&nbsp;Logout</a></li>	
         				</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
